<h1>Hello from AppComponent</h1>

<!-- <nav></nav> -->
<p style="color: green">
  {{ title }}
</p>

{{ name }}

{{ 2 * 2 }}

{{ getData() }}

<div nav></div>
<!--
  Property BInding
-->
<input [value]="name" [placeholder]="name" type="text" />
<!--
  Event Binding
-->
<button (click)="show()">Submit</button>

<!--
  ngModel
  [(ngModel)] -- Banana in a Box
-->
<!--
  Two Way Binding
-->
<input type="text" [(ngModel)]="name" />
{{ name }}
<!--
  *ngFor
-->

<hr />
<br />
<div class="container">
  <table class="table">
    <tr>
      <td>Name</td>
      <td>Place</td>
    </tr>
    <tr *ngFor="let person of people">
      <td>
        {{ person.user }}
      </td>
      <td>
        {{ person.place }}
      </td>
    </tr>
  </table>
</div>

<hr />

<!-- <div class="alert alert-success">Reactive Form</div> -->
<!-- <reg> </reg> -->
<!-- <mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<div class="alert alert-primary" >Template Driven</div>
<app-login></app-login>