<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="createStudent()">Create Student</button>
    </div>
  </div>
</div>


<div class="container"  style="margin-top: 20px;" >
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>
        {{ student.name }}
      </td>
      <td>
        {{ student.age }}
      </td>
      <td>
        {{ student.place }}
      </td>
      <td>
        <a (click)="delete(student._id)"> <i class="fas fa-trash-alt"> </i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a (click)="openEditComponent(student)"> <i class="far fa-edit"></i></a>
      </td>
    </tr>
  </table>
</div>
